.button {
    @apply py-1 px-10 border-[#05d7fc] border-2 rounded-md font-semibold cursor-pointer transition-all duration-200 will-change-transform origin-center relative overflow-hidden h-10 text-base;
}

.button:hover {
    @apply shadow-[#05d7fc] shadow-[0px_0px_10px] scale-[102%] text-shadow-[#05d7fc] bg-radial-[at_50%_95%] from-[#05d7fc]/5 to-transparent;
}

.button:active {
    @apply scale-[98%];
}

.button span {
    @apply my-auto inline-flex flex-col gap-3 h-full -translate-y-9 transition-transform !duration-300;
}

.button .not-loading {
    @apply -translate-y-9;
}

.button:hover .not-loading {
    animation: text-down 300ms forwards cubic-bezier(0.4, 0, 0.2, 1);
}

.button .loading {
    @apply translate-y-0;
}

@keyframes text-down {
    0% {
        transform: translateY(-2.25rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    margin: auto;
    width: 30px;
    aspect-ratio: 1;
    display: grid;
    color: #05d7fc;
    background: radial-gradient(farthest-side, currentColor calc(100% - 6px), #0000 calc(100% - 5px) 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 13px), #000 calc(100% - 12px));
    border-radius: 50%;
    animation: l19 2s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    background:
        linear-gradient(currentColor 0 0) center,
        linear-gradient(currentColor 0 0) center;
    background-size: 100% 6px, 6px 100%;
    background-repeat: no-repeat;
}

.loader::after {
    transform: rotate(45deg);
}

@keyframes l19 {
    100% {
        transform: rotate(1turn)
    }
}