@import "tailwindcss";
@import "./components/Button/Button.css";
@import "./components/Fader/Fader.css";

:root {
	line-height: 1.5;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#app {
	text-align: center;
	@apply text-slate-50;
	min-height: 100%;
	min-width: 280px;
	height: auto;
	width: auto;
}